*{
	scroll-behavior: smooth;
}
body {
	position: relative;
	max-width: 1600px;
	overflow-x: hidden;
	height: 4192px;
	background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
	font-family: Ubuntu, "times new roman", times, roman, serif;
	color: #212353;
}
body p {
	color: #4B5D68;
}

body a {
	text-decoration: none;
}

@media (min-width: 320px) {
	body {
		max-width: 375px;
	}
}