*{
	scroll-behavior: smooth;
}
body {
	position: relative;
	max-width: 1600px;
	overflow-x: hidden;
	height: 4192px;
	background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
	font-family: Ubuntu, "times new roman", times, roman, serif;
	color: #212353;
}
body p {
	color: #4B5D68;
}

body a {
	text-decoration: none;
}

@media (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape)  {
	body {
		max-width: 568px;
		height: 3200px;
	}
}
@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
	body {
		max-width: 320px;
		height: 3300px;
	}
}